@keyframes moveToRight {
    from {
        margin-left: -200%;
    }
    to {
        margin-left: 0;
    }
} 

@keyframes moveToUp {
    from {
        margin-bottom: -200%;
    }
    to {
        margin-bottom: 0;
    }
} 


