@keyframes moveToRight {
    from {
        margin-left: -200%;
    }
    to {
        margin-left: 0;
    }
} 

@keyframes moveToUp {
    from {
        margin-bottom: -200%;
    }
    to {
        margin-bottom: 0;
    }
} 

@keyframes backGroundArrow {
    0% {
        // background-color: transparent;
        border-color: transparent;
    }
    50% {
        // background-color: orange;
        border-color: orange;
    }
    100% {
        // background-color: transparent;
        border-color: transparent;
    }
}

