// ========= kolory =========
$orange: rgb(254, 117, 5);
$bodyGradientGrey: rgb(145, 155, 165);
// hala colors
$greyIntro: rgb(46, 46, 45);
$textIntro: rgb(255, 255, 255);
$textLabel: rgb(255, 255, 255);
$imageLabelYellow: rgba(224, 239, 11, .8);
$imageLabelOrange: rgba(254, 117, 5, .8);
$footerTextColor: rgb(255, 255, 255);
// cennik colors
$cenSOdd: rgb(202, 202, 202);
$cenSEven: rgb(255, 209, 174);
$cenPasses: white;
$cardsShadow: rgba(0, 0, 0, .2)