// 576px

//=========== hala.html ============//
@media (min-width: 576px) {
    .header {
        &__arrow-down {
             width: 90px;
             height: 90px;
        }
        &__title-text {
            font-size: 6rem;
         }
    }
}