*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(145, 155, 165);
  padding-bottom: 8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  width: 100vw;
}
.header__hero-img {
  height: 40vh;
  background-image: url("../img/cennik/backgroundHeader_640.jpg");
  background-position: center;
  background-size: cover;
}
.header__hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.header__hero-label {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 0 4rem;
  border-radius: 8px;
  background-color: rgba(254, 117, 5, 0.8);
  z-index: 3;
}
.header__hero-label-title {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.price-sections {
  width: 100%;
  height: 250px;
  padding: 2rem 0;
}

.price-sections:nth-child(odd) {
  background-color: rgb(202, 202, 202);
}

.price-sections:nth-child(even) {
  background-color: rgb(255, 209, 174);
}

.entrance__title {
  text-align: center;
  text-transform: uppercase;
}

.footer {
  width: 100vw;
}
.footer__hero-img {
  background-image: url("../img/hala/footer1_640.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.footer__hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.footer__container {
  padding: 3rem;
}
.footer__box {
  text-align: center;
  z-index: 2;
}
.footer__box-address--title {
  text-decoration: underline;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
.footer__box-address--text {
  margin-bottom: 0;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
}
.footer__own-name {
  font-size: 2rem;
}
.footer__box-social--title {
  text-decoration: underline;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

@media (min-width: 576px) {
  .header__hero-label {
    padding: 0.5rem 6rem;
  }
  .header__hero-label-title {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .intro {
    padding: 1rem 6rem 10rem;
  }
  .intro__text:nth-child(1) {
    padding: 1rem 0 1rem 5rem;
  }
  .intro__text:nth-child(2) {
    padding: 5rem 5rem 5rem 0;
  }
}
@media (min-width: 992px) {
  .footer__box-address--title {
    font-size: 2.2rem;
  }
  .footer__box-address--text {
    font-size: 2rem;
  }
  .footer__own-name {
    font-size: 2.4rem;
  }
  .footer__box-social--title {
    font-size: 2.2rem;
  }
}
@media (min-width: 1200px) {
  .header__arrow-down {
    width: 90px;
    height: 90px;
  }
  .header__title-text {
    font-size: 6rem;
  }
  .intro {
    padding: 10rem 15rem 15rem 15rem;
  }
  .intro__text:nth-child(1) {
    padding: 1rem 0 1rem 10rem;
  }
  .intro__text:nth-child(2) {
    padding: 10rem 10rem 10rem 0;
  }
  .intro__arrow-down {
    width: 90px;
    height: 90px;
  }
  .aboutus {
    padding: 10rem 15rem 5rem 15rem;
  }
  .aboutus__rows {
    margin-bottom: 8rem;
    font-size: 7rem;
  }
  .aboutus__row-one-text-details {
    font-size: 6rem;
  }
  .footer__hero-img {
    background-image: url("../img/hala/footer1_1920.jpg");
  }
}/*# sourceMappingURL=cennik_main.css.map */