@use './colors' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: $bodyGradientGrey;
    padding-bottom: 8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header {
    width: 100vw;
    &__hero-img {
        position: relative;
        width: 100%;
        height: 20vh;
        background-image: url('../img/cennik/Handle1_640.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    &__hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    &__hero-label {
        position: absolute;
        bottom: 20px;
        left: 20px;
        padding: 0 4rem;
        border-radius: 8px;
        background-color: $imageLabelOrange;
        z-index: 3;
    }

    &__hero-label-title {
        color: $textLabel;
        font-size: 2rem;
    }

}

.price-sections {
    width: 100%;
    padding: 4rem 0;
}

.price-sections:nth-child(odd) {
    background-color: $cenSOdd
}
.price-sections:nth-child(even) {
    background-color: $cenSEven;
}

.entrance {
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.8rem;
    }

    &__table {
        font-size: 1.3rem;
    }

    &__table {
        border-color: $orange;
        background-color: white;
        &--row-zero {
            background-color: $orange;
        }
    }

    &__star-box {
        position: relative;
        padding: 1rem;
        border-radius: 8px;
        font-size: 1.3rem;
    }
}

.passes {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;

    &__title {
        text-transform: uppercase;
        font-size: 2.8rem;
    }
    &__box {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    &__cards {
        width: 200px;
        height: 300px;
        padding: 1rem;
        margin-bottom: 2rem;
        border: 4px solid $orange;
        border-radius: 8px;
        background-color: $cenPasses;
        box-shadow: 10px 10px 20px $cardsShadow;
        overflow: hidden;
    }

    &__cards-title {
        text-transform: uppercase;
        font-size: 1.8rem;
    }

    &__cards-image {
        width: 95%;
    }

    &__cards-text-one {
        font-size: 3rem;
        color: $orange;
        text-transform: capitalize;
    }

    &__cards-text-two {
        font-size: 2.6rem;
    }
    &__cards-text-three {
        font-size: 1.6rem;
    }
}

.rental {
    padding: 2rem 0 4rem;
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.8rem;
    }

    &__table {
        font-size: 1.3rem;
    }

    &__table {
        border-color: $orange;
        background-color: white;
        &--row-zero {
            background-color: $orange;
        }
    }
}

.school {
    width: 100vw;
    padding: 0;
    &__hero-img {
        position: relative;
        width: 100%;
        background-image: url('../img/cennik/camp4SchoolsInstructors.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    &__hero-shadow {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    &__title {
        display: inline-block;
        padding: 1rem;
        margin: 2rem 0 0;
        border-radius: 8px;
        color: $schoolSectionTitleColor;
        background-color: rgba(0, 0, 0, .6); 
        text-transform: uppercase;
        font-size: 2.2rem;
    }

    &__box {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 8rem 0;
        margin: 0 auto;
        max-width: 1200px;
    }

    &__cards {
        width: 220px;
        height: 320px;
        padding: 1rem;
        margin-bottom: 2rem;
        border: 4px solid $orange;
        border-radius: 8px;
        background-color: $cenPasses;
        box-shadow: 10px 10px 20px $cardsShadow;
        overflow: hidden;
    }

    &__cards-title {
        text-transform: uppercase;
        font-size: 1.8rem;
    }

    &__cards-image {
        width: 95%;
    }

    &__cards-text-one {
        font-size: 3rem;
        color: $orange;
        text-transform: capitalize;
    }

    &__cards-text-two {
        font-size: 2.6rem;
    }
    &__cards-text-three {
        font-size: 1.6rem;
    }
    &__cards-btns {
        color: white;
        padding: .3rem 1rem;
        background-color:rgb(25, 135, 84);
        border: 1px solid rgb(25, 135, 84);
        border-radius: 3px;
        font-size: 1.5rem;
    }

    &__cards-btns:hover {
        background-color: $cardsButtonsColorHover;
    }

    &__cards-text-hint {
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: 80px;
        line-height: 40px;
        left: -100%;
        border: 1px solid $cardsHintFrame;
        color: $cardsHintFontColor;
        background-color: $cardsHint;
        transition: left .5s linear ;
        font-size: 1rem;
    }

    &__cards-text-hint-two, &__cards-text-hint-one, &__cards-text-hint-three, &__cards-text-hint-four {
        &--left-active {
            left: 0;
        }
    }
    &__cards-text-hint-three {
        height: 45px;
        line-height: 20px;
    }
    
}

.lessons {
    padding: 4rem 1rem;
    overflow: hidden;
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 2.2;
        margin-bottom: 2rem;
    }

    &__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        padding: 1rem;
        margin-bottom: 2rem;
        border: 2px solid $orange;
        border-radius: 8px;
        background-color: $cenPasses;
        box-shadow: 10px 10px 20px $cardsShadow;
    }

    &__cards-logo {
        width: 100px;
    }

    &__cards-title {
        color: $orange;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 2rem;
    }

    &__cards-text {
        font-size: 1.6rem;
    }
    &__cards-text-one, &__cards-text-two {
        margin-bottom: 0;
    }
    &__cards-text-two {
        font-weight: bold;
    }
    &__caution {
        width: 100%;
        max-width: 1000px;
    }
}

.others {
    &__box {
        padding-left: 1rem;
        padding-right: 1rem;

        text-align: center;
    }
    &__text {
        font-size: 1.8rem;
        text-transform: capitalize;
        &--sign-four {
            color: $orange;
        }
    }
}

.footer {
    width: 100vw;
    &__hero-img {
        background-image: url('../img/hala/footer1_640.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    &__hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    &__container {
        padding: 3rem;
    }
    &__box {
        text-align: center;
        z-index: 2;
    }

    &__box-address {
        &--title {
            text-decoration: underline;
            text-transform: uppercase;
            color: $footerTextColor;
            font-size: 2rem;
        }
        &--text {
            margin-bottom: 0;
            color: $footerTextColor;
            font-size: 1.6rem;
        }
    }

    &__own-name {
        font-size: 2rem;
    }

    &__box-social {
        &--title {
            text-decoration: underline;
            text-transform: uppercase;
            color: $footerTextColor;
            font-size: 2rem;
        }
    }
}

// mediaqueries

//========= _small.scss =========//

@media (min-width: 576px) {
    .header {
        &__hero-label {
            padding: 0.5rem 6rem;
        }
    
        &__hero-label-title {
            font-size: 3rem;
        }

        &__hero-img {
            height: 40vh;
        }
    } 
    
    .entrance, .rental {
        &__title {
            font-size: 2.6rem;
        }
    
        &__table {
            font-size: 2rem;
        }        
    }

    .passes {
        padding-left: 10rem;
        padding-right: 10rem;
        overflow: hidden;
        
        &__title {
            font-size: 2.8rem;
        }
    
        &__boxes {
            font-size: 2rem;
        }
    }

    .rental {
        padding: 10rem 0 12rem;
    }

    .school {
        &__title {
            margin: 10rem 0 15rem;
            font-size: 2.8rem;
        }

        &__cards-text-hint {
            height: 60px;
            line-height: 30px;
            font-size: 1.5rem;
        }
    }

    .lessons {
        &__title {
            font-size: 2.8;
        }

        &__cards {
            border: 4px solid $orange;
        }
    }

}

@media (min-width: 768px) {
    .header {
        &__hero-img {
            background-image: url('../img/cennik/recepcja_1920.jpg');
        }
    }

    .lessons {
        &__cards {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@media (min-width: 992px) {
    .footer {
        &__box-address {
            &--title {
                font-size: 2.2rem;
            }
            &--text {
                font-size: 2rem;
            }
        }

        &__own-name {
            font-size: 2.4rem;
        }
    
        &__box-social {
            &--title {
                font-size: 2.2rem;
            }
        }
    }

    .lessons {
        padding: 4rem 15rem;
    }
}

@media (min-width: 1200px) {
    .header {
        &__arrow-down {
            width: 90px;
            height: 90px;
        }
        &__title-text {
            font-size: 6rem;
        }
    }

    .footer {
        &__hero-img {
            background-image: url('../img/hala/footer1_1920.jpg');
        }
    }
}

