@use './colors' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: $bodyGradientGrey;
    padding-bottom: 8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header {
    width: 100vw;
    &__hero-img {
        position: relative;
        width: 100%;
        height: 40vh;
        // background-color: #f9aa49;
        background-image: url('../img/cennik/backgroundHeader_640.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    &__hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    &__hero-label {
        position: absolute;
        bottom: 20px;
        left: 20px;
        padding: 0 4rem;
        border-radius: 8px;
        background-color: $imageLabelOrange;
        z-index: 3;
    }

    &__hero-label-title {
        color: $textLabel;
        font-size: 2rem;
    }

}

.price-sections {
    width: 100%;
    // height: 450px;
    padding: 2rem 0;
    // background-color: $orange;
}

.price-sections:nth-child(odd) {
    background-color: $cenSOdd;
}
.price-sections:nth-child(even) {
    background-color: $cenSEven;
}

.entrance {
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.8rem;
    }

    &__table {
        font-size: 1.3rem;
    }

    &__table {
        border-color: $orange;
        &--row-zero {
            background-color: $orange;
        }
        // &--row-one {
        // }
        // &--row-two {
        //     border-bottom: 1px solid $orange;
        //  }
        // &--row-three {
        //     border-bottom: 1px solid $orange;
        // }
    }

    &__star-box {
        position: relative;
        padding: 1rem;
        border-radius: 8px;
        font-size: 1.3rem;
        // background-color: $orange;
    }
}

.passes {
    &__title {
        text-transform: uppercase;
        font-size: 1.8rem;
    }

    &__boxes {
        background-color: red;
        height: 100px;
        border: 1px solid black;
        font-size: 1.3rem;
    }


}




.footer {

    width: 100vw;
    // padding: 2rem;

    &__hero-img {
        // height: 50vh;
        background-image: url('../img/hala/footer1_640.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    &__hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    &__container {
        padding: 3rem;
    }
    &__box {
        text-align: center;
        z-index: 2;
    }

    &__box-address {
        &--title {
            text-decoration: underline;
            text-transform: uppercase;
            color: $footerTextColor;
            font-size: 2rem;
        }
        &--text {
            margin-bottom: 0;
            color: $footerTextColor;
            font-size: 1.6rem;
        }
    }

    &__own-name {
        font-size: 2rem;
    }

    &__box-social {
        &--title {
            text-decoration: underline;
            text-transform: uppercase;
            color: $footerTextColor;
            font-size: 2rem;
        }
    }

}

// mediaqueries

//========= _small.scss =========//

@media (min-width: 576px) {
    .header {
        &__hero-label {
            padding: 0.5rem 6rem;
        }
    
        &__hero-label-title {
            font-size: 3rem;
        }
    } 
    
    .entrance {
        &__title {
            font-size: 2.6rem;
        }
    
        &__table {
            font-size: 2rem;
        }        
    }

    .passes {
        &__title {
            font-size: 2.6rem;
        }
    
        &__boxes {
            font-size: 2rem;
        }
    
    
    }

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .footer {
        &__box-address {
            &--title {
                font-size: 2.2rem;
            }
            &--text {
                font-size: 2rem;
            }
        }

        &__own-name {
            font-size: 2.4rem;
        }
    
        &__box-social {
            &--title {
                font-size: 2.2rem;
            }
        }
    }
}

@media (min-width: 1200px) {
    .header {
        &__arrow-down {
            width: 90px;
            height: 90px;
        }
        &__title-text {
            font-size: 6rem;
        }
    }

    .footer {
        &__hero-img {
            background-image: url('../img/hala/footer1_1920.jpg');
        }
    }

}

