@use './colors' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: $bodyGradientGrey;
    padding-bottom: 8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header {
    width: 100vw;
    &__hero-img {
        // position: relative;
        // width: 100%;
        height: 40vh;
        // background-color: #f9aa49;
        background-image: url('../img/cennik/backgroundHeader_640.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    &__hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    &__hero-label {
        position: absolute;
        bottom: 20px;
        left: 20px;
        padding: .5rem 6rem;
        border-radius: 8px;
        background-color: $imageLabelOrange;
        z-index: 3;
    }

    &__hero-label-title {
        color: $textLabel;
        font-size: 3rem;
    }



    &__title-text {
        font-size: 4rem;
    }

    
}

.footer {

    width: 100vw;
    // padding: 2rem;

    &__hero-img {
        // height: 50vh;
        background-image: url('../img/hala/footer1_640.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    &__hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    &__container {
        padding: 3rem;
    }
    &__box {
        text-align: center;
        z-index: 2;
    }

    &__box-address {
        &--title {
            text-decoration: underline;
            text-transform: uppercase;
            color: $footerTextColor;
            font-size: 2rem;
        }
        &--text {
            margin-bottom: 0;
            color: $footerTextColor;
            font-size: 1.6rem;
        }
    }

    &__own-name {
        font-size: 2rem;
    }

    &__box-social {
        &--title {
            text-decoration: underline;
            text-transform: uppercase;
            color: $footerTextColor;
            font-size: 2rem;
        }
    }

}

// mediaqueries

//========= _small.scss =========//

@media (min-width: 576px) {
    .aboutus {
        &__row-two-text, &__row-three-text, &__row-four-text, &__row-five-text, &__row-six-text, &__row-seven-text {
            font-size: 2rem;
        }

        &__picture-label {

            width: 300px;
            left: -1rem;
            font-size: 3rem;

            &--five {
                width: 400px;
            }
        }
    }   
}

@media (min-width: 768px) {
    .intro {
        padding: 1rem 6rem 10rem;

        &__text:nth-child(1) {
            padding: 1rem 0 1rem 5rem;
        }

        &__text:nth-child(2) {
            padding: 5rem 5rem 5rem 0;
        }

    }
}

@media (min-width: 992px) {
    .footer {
        &__box-address {
            &--title {
                font-size: 2.2rem;
            }
            &--text {
                font-size: 2rem;
            }
        }

        &__own-name {
            font-size: 2.4rem;
        }
    
        &__box-social {
            &--title {
                font-size: 2.2rem;
            }
        }
    }
}

@media (min-width: 1200px) {
    .header {
        &__arrow-down {
            width: 90px;
            height: 90px;
        }
        &__title-text {
            font-size: 6rem;
        }
    }

    .intro {
        padding: 10rem 15rem 15rem 15rem;

        &__text:nth-child(1) {
            padding: 1rem 0 1rem 10rem;
        }

        &__text:nth-child(2) {
            padding: 10rem 10rem 10rem 0;
        }

        &__arrow-down {
            width: 90px;
            height: 90px;
        }
    }

    .aboutus {
        padding: 10rem 15rem 5rem 15rem;

        &__rows {
            margin-bottom: 8rem;
            font-size: 7rem;
        }

        &__row-one-text-details {
            font-size: 6rem;
         
        }

    }

    .footer {
        &__hero-img {
            background-image: url('../img/hala/footer1_1920.jpg');
        }
    }

}

