*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(145, 155, 165);
  padding-bottom: 8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  width: 100vw;
}
.header__hero-img {
  position: relative;
  width: 100%;
  height: 40vh;
  background-image: url("../img/cennik/Handle1_640.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.header__hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.header__hero-label {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 0 4rem;
  border-radius: 8px;
  background-color: rgba(254, 117, 5, 0.8);
  z-index: 3;
}
.header__hero-label-title {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.price-sections {
  width: 100%;
  padding: 4rem 0;
}

.price-sections:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

.price-sections:nth-child(even) {
  background-color: rgb(255, 209, 174);
}

.entrance__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.entrance__table {
  font-size: 1.3rem;
}
.entrance__table {
  border-color: rgb(254, 117, 5);
  background-color: white;
}
.entrance__table--row-zero {
  background-color: rgb(254, 117, 5);
}
.entrance__star-box {
  position: relative;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.3rem;
}

.passes {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
.passes__title {
  text-transform: uppercase;
  font-size: 2.8rem;
}
.passes__box {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.passes__cards {
  width: 200px;
  height: 300px;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 4px solid rgb(254, 117, 5);
  border-radius: 8px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.passes__cards-title {
  text-transform: uppercase;
  font-size: 1.8rem;
}
.passes__cards-image {
  width: 95%;
}
.passes__cards-text-one {
  font-size: 3rem;
  color: rgb(254, 117, 5);
  text-transform: capitalize;
}
.passes__cards-text-two {
  font-size: 2.6rem;
}
.passes__cards-text-three {
  font-size: 1.6rem;
}

.rental {
  padding: 2rem 0 4rem;
}
.rental__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.rental__table {
  font-size: 1.3rem;
}
.rental__table {
  border-color: rgb(254, 117, 5);
  background-color: white;
}
.rental__table--row-zero {
  background-color: rgb(254, 117, 5);
}

.school {
  width: 100vw;
  padding: 0;
}
.school__hero-img {
  position: relative;
  width: 100%;
  background-image: url("../img/cennik/camp4SchoolsInstructors.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.school__hero-shadow {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.school__title {
  display: inline-block;
  padding: 1rem;
  margin: 2rem 0 0;
  border-radius: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-size: 2.2rem;
}
.school__box {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 8rem 0;
  margin-top: 2rem;
}
.school__cards {
  width: 220px;
  height: 320px;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 4px solid rgb(254, 117, 5);
  border-radius: 8px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.school__cards-title {
  text-transform: uppercase;
  font-size: 1.8rem;
}
.school__cards-image {
  width: 95%;
}
.school__cards-text-one {
  font-size: 3rem;
  color: rgb(254, 117, 5);
  text-transform: capitalize;
}
.school__cards-text-two {
  font-size: 2.6rem;
}
.school__cards-text-three {
  font-size: 1.6rem;
}

.lessons {
  padding: 4rem 1rem;
}
.lessons__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2;
  margin-bottom: 2rem;
}
.lessons__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.lessons__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 2px solid rgb(254, 117, 5);
  border-radius: 8px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.lessons__cards-logo {
  width: 100px;
}
.lessons__cards-title {
  color: rgb(254, 117, 5);
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 2rem;
}
.lessons__cards-text {
  font-size: 1.6rem;
}
.lessons__cards-text-one, .lessons__cards-text-two {
  margin-bottom: 0;
}
.lessons__cards-text-two {
  font-weight: bold;
}

.others__box {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
.others__text {
  font-size: 1.8rem;
  text-transform: capitalize;
}
.others__text--sign-four {
  color: rgb(254, 117, 5);
}

.footer {
  width: 100vw;
}
.footer__hero-img {
  background-image: url("../img/hala/footer1_640.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.footer__hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.footer__container {
  padding: 3rem;
}
.footer__box {
  text-align: center;
  z-index: 2;
}
.footer__box-address--title {
  text-decoration: underline;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
.footer__box-address--text {
  margin-bottom: 0;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
}
.footer__own-name {
  font-size: 2rem;
}
.footer__box-social--title {
  text-decoration: underline;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

@media (min-width: 576px) {
  .header__hero-label {
    padding: 0.5rem 6rem;
  }
  .header__hero-label-title {
    font-size: 3rem;
  }
  .entrance__title, .rental__title {
    font-size: 2.6rem;
  }
  .entrance__table, .rental__table {
    font-size: 2rem;
  }
  .passes {
    padding-left: 10rem;
    padding-right: 10rem;
    overflow: hidden;
  }
  .passes__title {
    font-size: 2.8rem;
  }
  .passes__boxes {
    font-size: 2rem;
  }
  .rental {
    padding: 10rem 0 12rem;
  }
  .school__title {
    margin: 10rem 0 15rem;
    font-size: 2.8rem;
  }
  .lessons__title {
    font-size: 2.8;
  }
  .lessons__cards {
    border: 4px solid rgb(254, 117, 5);
  }
}
@media (min-width: 768px) {
  .header__hero-img {
    background-image: url("../img/cennik/Handle1_1280.jpg");
  }
  .lessons__cards {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .footer__box-address--title {
    font-size: 2.2rem;
  }
  .footer__box-address--text {
    font-size: 2rem;
  }
  .footer__own-name {
    font-size: 2.4rem;
  }
  .footer__box-social--title {
    font-size: 2.2rem;
  }
}
@media (min-width: 1200px) {
  .header__arrow-down {
    width: 90px;
    height: 90px;
  }
  .header__title-text {
    font-size: 6rem;
  }
  .footer__hero-img {
    background-image: url("../img/hala/footer1_1920.jpg");
  }
}/*# sourceMappingURL=cennik_main.css.map */