@use './colors' as *;


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    // display: flex;
    // flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: $bodyGradientGrey;
    padding-bottom: 8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.navbar {
    // position: fixed;
    // width: 100vw;
}

.header {
    width: 100vw;
    &__hero-img {
        // position: relative;
        // width: 100%;
        height: 100vh;
        // background-color: #f9aa49;
        background-image: url('../img/hala/rock-climbing_1920.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    &__hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    &__hero-text {
        position: relative;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 3;
    }

    &__title-text {
       font-size: 4rem;
    }

    &__arrow-down {
        position: absolute;
        display: flex;
         width: 50px;
         height: 50px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
        font-size: 6rem;
        cursor: pointer;
        background-color: none;
        border-radius: 50%;
        transition: .3s background-color;
        z-index: 4;
    }

    &__arrow-down:hover {
        background-color: $orange;
    }



    
}


.intro {
    width: 100%;
    // height: 100vh;
    background-color: $grey-intro;
    padding: 1rem;
    color: $text-intro;
    &__text {
        font-size: 2rem;
        text-align: justify;
    }

    &__text:nth-child(1) {
        padding: 1rem 4rem 0 0;
    }

    &__text:nth-child(2) {
        padding: 1rem 1rem 1rem 4rem;
    }
    &__text:nth-child(3) {
        text-align: center;
    }
    &__text:nth-child(3) {
        text-align: center;
    }
    &__text:nth-child(5) {
        text-align: center;
        margin-top: 3rem;
    }


}


.aboutus {
    position: relative;
    width: 100%;
    // height: 100vh;
    padding: 2rem 1rem 1rem;



    &__image-one {
        width: 40%;
    }

    &__row-one, &__row-two, &__row-three, &__four {
        font-size: 8rem;
        margin-bottom: 1rem;
        text-align: justify;
        
        
    }



    &__row-one-text-details {
        font-size: 4rem;
    }

    &__picture-details {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);

    }
    // &__rows {
    //     margin-bottom: 4rem;
    // }
   


    // [class*='picture'] {
    //     border: 10px solid orange;
    // }

    

}


// mediaqueries

//========= _small.scss =========//
@media (min-width: 576px) {
    .header {
        &__arrow-down {
            width: 90px;
            height: 90px;
        }
        &__title-text {
            font-size: 6rem;
        }
    }

    .intro {
        padding: 15rem 15rem 15rem 15rem;

        &__text:nth-child(1) {
            padding: 1rem 0 1rem 30rem;
        }

        &__text:nth-child(2) {
            padding: 10rem 30rem 10rem 0;
        }

    }

    .aboutus {
        padding: 10rem 15rem 15rem 15rem;
        &__row-one-text-details {
            font-size: 6rem;
        }

        &__row-one, &__row-two, &__row-three {
            font-size: 8rem;
            margin-bottom: 8rem;
        }

    }


}

