@use './colors' as *;
@use './animations' as *;

@mixin arrowDown {
    position: absolute;
    display: flex;
    width: 50px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: transparent;
    border: 2px solid orange;
    border-radius: 50%;
    transition: .3s background-color;
    font-size: 6rem;
    cursor: pointer;
    z-index: 4;
    animation: backGroundArrow 4s ease-in-out infinite;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    // display: flex;
    // flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: $bodyGradientGrey;
    padding-bottom: 8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.navbar {
    // position: fixed;
    // width: 100vw;
}

.header {
    width: 100vw;
    &__hero-img {
        // position: relative;
        // width: 100%;
        height: 100vh;
        // background-color: #f9aa49;
        background-image: url('../img/hala/rock-climbing_1920.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    &__hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    &__hero-text {
        position: relative;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 3;
    }

    &__title-text {
        font-size: 4rem;
    }

    &__arrow-down {
        @include arrowDown();
        bottom: 50px;
    }

    &__arrow-down:hover {
        background-color: $orange;
    }
    



    
}


.intro {
    width: 100%;
    // height: 100vh;
    background-color: $greyIntro;
    padding: 6rem 1rem 10rem 1rem;
    color: $textIntro;
    &__text {
        font-size: 2rem;
        text-align: justify;
    }

    &__text:nth-child(1) {
        padding: 1rem 4rem 0 0;
    }

    &__text:nth-child(2) {
        padding: 1rem 1rem 1rem 4rem;
    }
    &__text:nth-child(3) {
        text-align: center;
    }
    &__text:nth-child(3) {
        text-align: center;
    }
    &__text:nth-child(5) {
        text-align: center;
        margin-top: 3rem;
    }

    &__arrow {
        position: relative;
    }
    &__arrow-down {
        @include arrowDown();
        margin-top: 20px;
    }
    &__arrow-down:hover {
        background-color: $orange;
    }

}


.aboutus {
    position: relative;
    width: 100%;
    // height: 100vh;
    padding: 6rem 1rem 1rem;



    &__image-one {
        width: 40%;
    }

    &__row-one, &__row-two, &__row-three, &__row-four, &__row-five, &__row-six, &__row-seven {
        font-size: 1.6rem;
        // margin-bottom: 4rem;
        text-align: justify;
    }



    &__row-one-text-details {
        font-size: 4rem;
    }

    &__picture-details {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);

    }

    &__picture-label {
        position: absolute;
        width: 200px;
        bottom: 1rem;
        left: -.5rem;
        padding: 0 1rem ;
        background-color: $imageLabel;
        border-radius: 8px;
        text-align: center;
        font-size: 2rem;

        &--three, &--seven {
            margin-bottom: 1rem;
        }

        &--five {
            width: 300px;
            margin-bottom: 1rem;
        }
    }

    // &__picture-label:nth-child(odd) {
    //     bottom: 2rem;
    // }




    &__picture-label-text {
        margin-bottom: 0;


        
    }

    &__rows {
        margin-bottom: 4rem;
    }
   


    // [class*='picture'] {
    //     border: 10px solid orange;
    // }

    

}

.footer {

    width: 100vw;
    // padding: 2rem;

    &__hero-img {
        // height: 50vh;
        background-image: url('../img/hala/footer1_640.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    &__hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    &__container {
        // position: absolute;
        // top: 2rem;
        padding: 2rem;
    }
    &__box {
        // height: 2rem;
        // background-color: aqua;
        text-align: center;
        z-index: 2;
    }

    &__box-address {
        &--title {
            text-decoration: underline;
            text-transform: uppercase;
            color: $footerTextColor;
        }
        &--text {
            margin-bottom: 0;
            color: $footerTextColor;
            font-size: 2rem;
        }
    }

    &__icons-box {
        // display: flex;
        height: 100%;
        // justify-content: center;
        // align-items: center;
    }






    // &__hero-text {
    //     position: relative;
    //     display: flex;
    //     flex-direction: column;
    //     color: white;
    //     justify-content: center;
    //     align-items: center;
    //     height: 100%;
    //     width: 100%;
    //     z-index: 3;
    // }

    // &__title-text {
    //     font-size: 4rem;
    // }

}

// mediaqueries

//========= _small.scss =========//

@media (min-width: 576px) {
    .aboutus {
        &__row-two-text, &__row-three-text, &__row-four-text, &__row-five-text, &__row-six-text, &__row-seven-text {
            font-size: 2rem;
        }

        &__picture-label {

            width: 300px;
            left: -1rem;
            font-size: 3rem;

            &--five {
                width: 400px;
            }
        }
    }   
}

@media (min-width: 768px) {
    .intro {
        padding: 1rem 6rem 10rem;

        &__text:nth-child(1) {
            padding: 1rem 0 1rem 5rem;
        }

        &__text:nth-child(2) {
            padding: 5rem 5rem 5rem 0;
        }

    }
}

@media (min-width: 1200px) {
    .header {
        &__arrow-down {
            width: 90px;
            height: 90px;
        }
        &__title-text {
            font-size: 6rem;
        }
    }

    .intro {
        padding: 10rem 15rem 15rem 15rem;

        &__text:nth-child(1) {
            padding: 1rem 0 1rem 10rem;
        }

        &__text:nth-child(2) {
            padding: 10rem 10rem 10rem 0;
        }

        &__arrow-down {
            width: 90px;
            height: 90px;
        }
    }

    .aboutus {
        padding: 10rem 15rem 5rem 15rem;

        &__rows {
            margin-bottom: 8rem;
            font-size: 7rem;
        }

        &__row-one-text-details {
            font-size: 6rem;
         
        }

    }

    .footer {
        &__hero-img {
            background-image: url('../img/hala/footer1_1920.jpg');
        }
    }

}

