@use './animations' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 2rem;
    justify-content: start;
    align-items: center;
    // background: radial-gradient(rgb(50, 45, 40) 0%, rgb(108, 111, 112) 100%);
    background-color: rgb(145, 155, 165);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    position: relative;
    margin-top: 6rem;
    &__logo {
        margin-bottom: 2rem;
    
    }
}

.box {
    display: flex;
    flex-direction: column;
    position: relative;
    // position: relative;
    // justify-content:space-between;
    align-items: center;
    width: 100vw;
    max-width: 900px;
    // height: 600px;
    padding: 2rem;



    &__cards {
        position: relative;
        display: flex;
        // margin: 0 auto;
        width: 100%;
        max-width: 200px;
        
        // height: 50%;
        height: 250px;
        border-radius: 2rem;
        background-position: center;
        background-size: cover;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
        cursor: pointer;
        overflow: hidden;

        h1 {
            text-align: center;
        }
    }

    &__card-one {
        background-image: url('../img/cards/card1.jpg');
        margin-bottom: 2rem;
        margin-left: -200%;
        animation: moveToRight 1s ease-out forwards;
    }

    &__card-two {
        background-image: url('../img/cards/card2.jpg');
        // margin-bottom: 2rem;
        margin-left: -200%;
        animation: moveToRight 1s .3s ease-out forwards;
    }

    &__intro {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 80%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .7);
        color: white;
        text-transform: uppercase;
        
        transition: clip-path 0.8s;
    }
    
    &__intro-button {
        display:  none;
    }

    &__intro-button:hover {
        background-color: #f6931d;
        color: white;
    }

}

.footer {
    position: relative;
    width: 100%;
    &__text {
        position: relative;
        color: rgb(32, 32, 32);
        margin-top: -1rem;
        text-align: center;
        font-size: 1.4rem;
    }
}




//=================== media Queries ===================//

@media (min-width: 576px) {
    body {
        align-items: center;
        justify-content: center;
        padding: 20vh 0;
    }

    // .header {
    //     &__logo {
    //         margin-bottom: 3rem;
    //     }
    // }    
    .box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 300px;
        &__cards {
            position: relative;

            // height: 600px;
        }

        &__card-one {
            margin: 0 4rem 0 0;
            margin-left: 0;
            margin-bottom: -200vh;
            animation: moveToUp 1s ease-out forwards;
        }
    
        &__card-two {
            margin-left: 0;
            margin-bottom: 0;
            margin-bottom: -200vh;
            animation: moveToUp 1s .5s ease-out forwards;
        }
    }

}

@media (min-width: 768px) {

    body {
        padding: 8vh 0;
    }

    .header {
        &__logo {
            margin-bottom: 1rem;
        }
    }


    .box {
        height: 600px;
        &__cards {
            max-width: 345px;
            // width: 460px;
            height: 500px;
        }

        &__intro {
            top: 0;
            clip-path: circle(0% at 50% 50%);
        }

        &__card-one:hover>.box__intro-one,
        &__card-two:hover>.box__intro-two {
        clip-path: circle(120% at 50% 80%);
        }

        &__intro-button {
            display: block;
            width: max-content;
            height: max-content;
            padding: .5rem 5rem;
            margin-top: 2rem;
            color: #f6931d;
            background: transparent;
            border-radius: 8px;
            border: 1px solid #f6931d;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 4rem;
            transition: background-color .3s;
        }
    
        &__intro-button:hover {
            background-color: #f6931d;
            color: white;
        }
        
    }

    .footer {
        &__text {
            margin-top: -3rem;
        }
    }

}


// @media (min-width: 768px) {

//     .box {

        // &__intro {
        //     top: 0;
        //     clip-path: circle(0% at 50% 50%);
        // }

        // &__card-one:hover>.box__intro-one,
        // &__card-two:hover>.box__intro-two {
        // clip-path: circle(120% at 50% 80%);
        // }

        // &__intro-button {
        //     display: block;
        //     width: max-content;
        //     height: max-content;
        //     padding: .5rem 5rem;
        //     margin-top: 2rem;
        //     color: #f6931d;
        //     background: transparent;
        //     border-radius: 8px;
        //     border: 1px solid #f6931d;
        //     text-transform: uppercase;
        //     cursor: pointer;
        //     font-size: 4rem;
        //     transition: background-color .3s;
        // }
    
        // &__intro-button:hover {
        //     background-color: #f6931d;
        //     color: white;
        // }

//     }
// }